<footer>
    <h1>Lorem ipsum dolor</h1>
     sit amet consectetur adipisicing elit. Nostrum nam quo quam aliquam tempore totam maxime officia voluptate animi sit deserunt, eaque earum ab, distinctio, obcaecati suscipit? Velit, natus ut.
</footer>