<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/ehad.ejs') %>
  </head>
  <body>
    <%- include('./partials/navigation') %> 

    <main class="container vh-100 pt-2 d-flex justify-content-center align-items-center">
      <section class="display-6  d-flex flex-column justify-content-center align-items-center">
          <h1 class="">About</h1>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium saepe repudiandae laboriosam, itaque eaque necessitatibus nesciunt sed totam deserunt consequatur quae sapiente error aspernatur reprehenderit suscipit deleniti sit dolorem fuga.
          </p>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
